#blue-bar {
    /* text-align: center; */
    background-color: #194997;
    width: 100%;
    margin: -6px;
    padding: 5px;
}

#blue-font, #blue-form, #login-font {
    display: inline;
}

#blue-font {
    width: 100%;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 18px;
    color: white;
    padding: 10px 0 10px 170px;
}

#blue-form {
    outline: none;
    width: 35%;
    padding: 7px;
    border-radius: 6px;
    margin: -2px 0px -2px 20px;
}

#login-font{
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding: 10px 0px 10px 800px; 
}

#form-signup {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-style: outset;
    display: block;
    margin: 0 auto;
    top: 55%;
    left: 50%;
    background-color: #f2f2f2c2;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
}


#signup-font {
    width: 100%;
    font-family: sans-serif;
    font-size: 40px;
    padding: 80px 0 5px 0;
    text-align: center;
    margin-top: 0cm;
    color: #194997;
}

label {
    font-weight: bold;
    margin: 90px;
}

#fname, #lname, #pass, #pass-confirm {
    outline: none;
    width: 70%;
    padding: 13px 0px 13px 6px;
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #194997;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 11px 20px 11px 20px;
    margin: 0 auto;
    display: block;
}

#dropdown, #dropdown-label {
    display: inline;
    margin-left: 90px;
}

#dropdown {
    position: relative;
}

select {
    padding: 4px 6px;
    margin-left: -55px;
}

#gender {
    margin-left: 90px;
}

#topic {
    margin-left: 90px;
}



