#blue-bar {
    /* text-align: center; */
    background-color: #4267b2;
    position: fixed;
    /* width: 2000px; */
    width: 100%;
    margin: -7px -8px 0px;
    /* margin: 0 ; */
    padding: 5px;
}

#blue-font, #blue-form, #login-font {
    display: inline;
}

#blue-font, #login-font{
    font-family: Helvetica, Arial, sans-serif;
}

#blue-font {
    text-decoration: none;
    font-weight:bold;
    font-size: 19px;
    color: white;
    margin-left: 300px;
    margin-right: 15px;
    margin-top: 19px;
}

#blue-form {
    outline: none;
    width: 550px;
    top: 8px;
    height: 28px;
    padding-left: 14px;
    border: 1px solid #3b5998;
    border-radius: 3px;
    box-sizing: border-box;
    /* margin: -2px 760px -2px 20px; */
}

#login-font{
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding: 10px 1px 10px 4px;
    margin-left: 770px; 
}

#signup-div {
    width: 450px;
    padding: 10px;
    border: 1px hidden #ccc;
    /* border-style: inset; */
    display: block;
    margin: 0 auto;
    background-color: #e9ebee;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
}

.error-message {
    /* background-color: red; */
    color: red;
    padding: 2px;
}

#signup-font {
    width: 100%;
    font-size: 40px;
    padding: 80px 0 5px 0;
    text-align: center;
    margin-top: 0cm;
    color: #194997;
}

label {
    font-weight: bold;
    font-size: 17px;
    margin: 70px;
}

.signup-text {
    outline: none;
    width: 70%;
    padding: 13px 0px 13px 14px;
    display: block;
    margin: 7px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: inherit;
}

#submitBtn {
    background-color: #194997;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    padding: 11px 20px 11px 20px;
    margin: 0 auto;
    display: block;
}

 #submitBtn.disabled {
    opacity: 0.45;
}

/* #submitBtn.submitted{
    background-color: #194997;
} */ 

.dropdown {
    outline: none;
    position: relative;
}

#dropdown, #dropdown-label {
    display: inline;
    margin-left: 70px;
}

select {
    padding: 4px 6px;
    margin-left: -55px;
    font-size: 15px;
}

#gender {
    margin-left: 70px;
}

#topic {
    margin-left: 70px;
}



